<div class="jumbotron">
  <% if flash[:notice].present? %>
    <div class="alert alert-warning" role="alert">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <div class="container">
    <div class="logo">
      <%= image_tag 'logo' %>
    </div>

    <div class="headline">
      <h1 class="display-4">
        How vampire are you?

        <br />
        <small class="text-muted">
          Find your face in historical artworks.
        </small>
      </h1>

      <button id="pick-a-photo" class="btn btn-primary btn-lg btn-upload">
        Find your face!
      </button>

      <%= form_for @image, html: { multipart: true } do |f| %>
        <%= f.file_field :photo, hidden: true %>
      <% end %>
    </div>
  </div>
</div>
