<div class="navbar">
  <div class="container">
    <div class="logo">
      <a href="/">
        <%= image_tag 'logo.svg' %>
      </a>
    </div>
  </div>
</div>

<%= render 'timeline', image: @image, similar_faces: @similar_faces %>
